<%= turbo_stream_from 'messages' %>

<div class="messages-index container">
  <%= turbo_frame_tag 'messages', class: 'messages-index-body' do %>
    <%= render partial: 'message', collection: @messages %>
  <% end %>
  <div class="messages-index__footer">
    <%= render 'form', message: Message.new %>
  </div>
</div>
